{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Update branch #' ~ idBranch %}

{% block action %}
    {{ backActionButton('/merchant-management/branch', 'List Branch' | trans) }}
    {{ createActionButton('/merchant-management/branch/create', 'Add Branch' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

            {{ form_start(branchForm) }}

            {{ form_row(branchForm.name) }}
            {{ form_row(branchForm.fkMerchant) }}
            {{ form_row(branchForm.termsOfService) }}
            {{ form_row(branchForm.companyProfile) }}
            {{ form_row(branchForm.code) }}

            <fieldset>
                <h2>Kontakt</h2>
                {{ form_row(branchForm.email) }}
                {{ form_row(branchForm.phone) }}
                {{ form_row(branchForm.street) }}
                {{ form_row(branchForm.number) }}
                {{ form_row(branchForm.zip) }}
                {{ form_row(branchForm.city) }}

                <h3>Ansprechpartner</h3>
                {{ form_row(branchForm.contactPersonSalutationId) }}
                {{ form_row(branchForm.contactPersonPreName) }}
                {{ form_row(branchForm.contactPersonName) }}
            </fieldset>

            <fieldset>
                <h2>Leitstand</h2>
                {{ form_row(branchForm.dispatcherName) }}
                {{ form_row(branchForm.dispatcherEmail) }}
                {{ form_row(branchForm.dispatcherPhone) }}

                <h2>Buchhaltung</h2>
                {{ form_row(branchForm.accountingName) }}
                {{ form_row(branchForm.accountingEmail) }}
                {{ form_row(branchForm.accountingPhone) }}

                <h2>Marketing</h2>
                {{ form_row(branchForm.marketingName) }}
                {{ form_row(branchForm.marketingEmail) }}
                {{ form_row(branchForm.marketingPhone) }}

                <h2>Service</h2>
                {{ form_row(branchForm.serviceName) }}
                {{ form_row(branchForm.serviceEmail) }}
                {{ form_row(branchForm.servicePhone) }}
            </fieldset>

            <fieldset>
                <h2>Standardwerte</h2>
                {{ form_row(branchForm.defaultMinValueFirst) }}
                {{ form_row(branchForm.defaultMinValueFollowing) }}
                {{ form_row(branchForm.defaultDeliveryCosts) }}
            </fieldset>

            <fieldset>
                <h2>Rechtliches</h2>
                {{ form_row(branchForm.gln) }}
                {{ form_row(branchForm.durstGln) }}
                {{ form_row(branchForm.corporateName) }}
            </fieldset>

            <fieldset>
                <h2>API Keys</h2>
                {{ form_row(branchForm.sumupAffiliateKey) }}
            </fieldset>

            <fieldset>
                <h2>EDI-Schnittstelle</h2>
                {{ form_row(branchForm.ediEndpointUrl) }}
                {{ form_row(branchForm.ediDepositEndpointUrl) }}
                {{ form_row(branchForm.accessToken) }}
                {{ form_row(branchForm.basicAuthUsername) }}
                {{ form_row(branchForm.basicAuthPassword) }}
                {{ form_row(branchForm.autoEdiExport) }}
                {{ form_row(branchForm.ediExcludeMissingItemReturns) }}
                {{ form_row(branchForm.ediExportVersion) }}
            </fieldset>

            <fieldset>
                <h2>Lager Geo-Koordinaten</h2>
                {{ form_row(branchForm.warehouseLat) }}
                {{ form_row(branchForm.warehouseLng) }}
            </fieldset>

            <fieldset>
                <h2>Rechnungsdaten</h2>
                {{ form_row(branchForm.billingCompany) }}
                {{ form_row(branchForm.billingStreet) }}
                {{ form_row(branchForm.billingNumber) }}
                {{ form_row(branchForm.billingZip) }}
                {{ form_row(branchForm.billingCity) }}
                {{ form_row(branchForm.salesTaxId) }}
                {{ form_row(branchForm.placeJurisdiction) }}
                {{ form_row(branchForm.ecoControlNumber) }}
                {{ form_row(branchForm.personResponsible) }}
                {{ form_row(branchForm.billingEmail) }}
                {{ form_row(branchForm.billingBranchInformation) }}
            </fieldset>

            <fieldset>
                <h2>Heidelpay</h2>
                {{ form_row(branchForm.heidelpayPrivateKey) }}
                {{ form_row(branchForm.heidelpayPublicKey) }}
            </fieldset>

            <fieldset>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2>Privatkunden Zahlungsmethoden (B2C)</h2>
                            </div>
                            <div class="panel-body">
                                {{ form_row(branchForm.b2cPaymentMethodIds) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2>Firmenkunden Zahlungsmethoden (B2B)</h2>
                            </div>
                            <div class="panel-body">
                                {{ form_row(branchForm.b2bPaymentMethodIds) }}
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <h2>Abrechnung</h2>
                {{ form_row(branchForm.billingStartDate) }}
                {{ form_row(branchForm.billingCycle) }}
                <quote>Hinweis: Hier kann eine relative Zeitangabe nach dem PHP Standard angegeben werden. Alle Optionen finden sich hier: <a href="https://www.php.net/manual/de/datetime.formats.relative.php" target="_blank">https://www.php.net/manual/de/datetime.formats.relative.php</a></quote>
                <br>
                <br>
                {{ form_row(branchForm.billingEndOfMonth) }}
            </fieldset>

            <fieldset>
                <h2>CSV Export</h2>
                {{ form_row(branchForm.exportAccount) }}
                {{ form_row(branchForm.exportContraAccount) }}
                {{ form_row(branchForm.exportCsvEnabled) }}
            </fieldset>

            <fieldset>
                <h2>Verschiedenes</h2>
                {{ form_row(branchForm.orderOnTimeslot) }}
                {{ form_row(branchForm.offersDepositPickup) }}
                {{ form_row(branchForm.dataRetentionDays) }}
            </fieldset>

            {{ form_row(branchForm.submit, { attr: { class: 'btn btn-primary' } }) }}

            {{ form_end(branchForm) }}

        {% endblock %}

    {% endembed %}

{% endblock %}
