<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#2DAFE6!important">

<head>
    <link href="https://fonts.googleapis.com/css?family=Mada:400,700" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Durst E-Mail Templates</title>
    <style>
        @media only screen {
            html {
                min-height: 100%;
                background: #f3f3f3
            }
        }

        @media only screen and (max-width:596px) {
            table.body img {
                width: auto;
                height: auto
            }

            table.body center {
                min-width: 0 !important
            }

            table.body .container {
                width: 95% !important
            }

            table.body .columns {
                height: auto !important;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding-left: 16px !important;
                padding-right: 16px !important
            }

            table.body .columns .columns {
                padding-left: 0 !important;
                padding-right: 0 !important
            }

            th.small-12 {
                display: inline-block !important;
                width: 100% !important
            }

            .columns th.small-12 {
                display: block !important;
                width: 100% !important
            }

            table.menu {
                width: 100% !important
            }

            table.menu td,
            table.menu th {
                width: auto !important;
                display: inline-block !important
            }

            table.menu.vertical td,
            table.menu.vertical th {
                display: block !important
            }

            table.menu[align=center] {
                width: auto !important
            }
        }
    </style>
</head>

<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;background:#2DAFE6!important;box-sizing:border-box;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important"><span
    class="preheader" style="color:#f3f3f3;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
<table class="body" style="Margin:0;background:#2DAFE6!important;border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;height:100%;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td class="center" align="center" valign="top">
            <center data-parsed="" style="min-width:580px;width:100%">
                <table class="spacer float-center" style="Margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:100%">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <td height="10px" style="font-size:10px;line-height:10px">&#xA0;</td>
                    </tr>
                    </tbody>
                </table>
                <table align="center" class="container float-center" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <td>
                            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td height="32px" style="font-size:32px;line-height:32px">&#xA0;</td>
                                </tr>
                                </tbody>
                            </table>
                            <center data-parsed="" style="min-width:580px;width:100%"><img src="{{ mail.baseUrl }}/icons/cool.png" alt="Durst Logo" align="center" class="float-center" style="-ms-interpolation-mode:bicubic;Margin:0 auto;clear:both;display:block;float:none;margin:0 auto;max-width:100%;outline:0;text-align:center;text-decoration:none;width:auto"></center>
                            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td height="10px" style="font-size:10px;line-height:10px">&#xA0;</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="10px" style="font-size:10px;line-height:10px">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <h1 class="primary" style="Margin:0;Margin-bottom:10px;color:#2DAFE6;font-family:Mada,Helvetica,Arial,sans-serif;font-size:26px;font-weight:700;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center;word-wrap:normal">Bestellungseingang
                                                        bei Durst</h1>
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="3px" style="font-size:3px;line-height:3px">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <hr class="ruler bold" style="background-color:#8a8a8a;border:none;height:3px">
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="3px" style="font-size:3px;line-height:3px">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">Folgende Bestellung
                                                        ist bei Durst eingegangen. Diese haben wir an Sie weitergeleitet:</p>
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="10px" style="font-size:10px;line-height:10px">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left"><strong style="font-weight:700!important">{{ mail.branch.name }}</strong></p>
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="10px" style="font-size:10px;line-height:10px">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="order" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td colspan="3" class="no-padding">
                                                                <hr class="ruler bold" style="background-color:#8a8a8a;border:none;height:3px">
                                                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tbody>
                                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                                        <td height="10px" style="font-size:10px;line-height:10px">&#xA0;</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>{% for item in mail.order.items %}<tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td valign="middle" class="middle">{{ item.quantity }}x</td>
                                                            <td>{{ item.productName }}<br>{{ item.unitName }}<br>Artikel-Nr.: {{ item.merchantSku }}</td>
                                                            <td align="right" class="right">{{ item.unitPriceToPayAggregation | money }}</td>
                                                        </tr>{% set currentDisplayName = '' %} {% for discounts in item.calculatedDiscounts %} {% if (currentDisplayName) != (discounts.displayName) %}<tr style="padding:0;text-align:left;vertical-align:top">
                                                        <td valign="middle" class="middle">{{ item.quantity }}x</td>
                                                        <td>Angebot: {{ discounts.discountName }} Rabatt</td>
                                                        <td align="right" class="right">{{ discounts.unitAmount | money }}</td>
                                                        </tr>{% set currentDisplayName = discounts.displayName %} {% endif %} {% endfor %}<tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td colspan="3" class="no-padding">
                                                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tbody>
                                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                                        <td height="10px" style="font-size:10px;line-height:10px">&#xA0;</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <hr class="ruler bold" style="background-color:#8a8a8a;border:none;height:3px">
                                                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tbody>
                                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                                        <td height="{% if loop.last %}20{% else %}10{% endif %}px" style="font-size:{% if loop.last %}20{% else %}10{% endif %}px;line-height:{% if loop.last %}20{% else %}10{% endif %}px">&#xA0;</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>{% endfor %} {% for expense in mail.order.expenses %} {% if expense.type == constant('Pyz\\Shared\\Discount\\DiscountConstants::VOUCHER_CODE_EXPENSE_TYPE') and expense.calculatedDiscounts is iterable %} {% for
                                                        expenseDiscount in expense.calculatedDiscounts %}<tr style="padding:0;text-align:left;vertical-align:top">
                                                        <td valign="middle" class="middle">{{ expenseDiscount.quantity }}x</td>
                                                        <td>{{ expenseDiscount.discountName }}</td>
                                                        <td align="right" class="right">-{{ expenseDiscount.unitAmount | money }}</td>
                                                        </tr>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                        <td colspan="3" class="no-padding">
                                                            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                <tbody>
                                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                                    <td height="10px" style="font-size:10px;line-height:10px">&#xA0;</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <hr class="ruler bold" style="background-color:#8a8a8a;border:none;height:3px">
                                                            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                <tbody>
                                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                                    <td height="{% if loop.last %}20{% else %}10{% endif %}px" style="font-size:{% if loop.last %}20{% else %}10{% endif %}px;line-height:{% if loop.last %}20{% else %}10{% endif %}px">&#xA0;</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        </tr>{% endfor %} {% endif %} {% endfor %}<tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:left"></td>
                                                            <td style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:left"><strong style="font-weight:700!important">Warenwert</strong></td>
                                                            <td align="right" class="right" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:right"><strong style="font-weight:700!important">{{ mail.order.totals.grossSubtotal | money }}</strong></td>
                                                        </tr>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:left"></td>
                                                            <td style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:left">zzgl. Pfand</td>
                                                            <td align="right" class="right" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:right">{{ mail.order.totals.depositTotal | money }}</td>
                                                        </tr>{% if mail.order.totals.deliveryCostTotal > 0 %}<tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:left"></td>
                                                            <td style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:left">zzgl. Liefergebühren</td>
                                                            <td align="right" class="right" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:right">{{ mail.order.totals.deliveryCostTotal | money }}</td>
                                                        </tr>{% endif %}<tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:left"></td>
                                                            <td style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:left"><strong style="font-weight:700!important">Gesamt</strong></td>
                                                            <td align="right" class="right" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:right"><strong style="font-weight:700!important">{{ mail.order.totals.grandTotal | money }}</strong></td>
                                                        </tr>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td colspan="3" class="no-padding" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0!important;text-align:left">
                                                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tbody>
                                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                                        <td height="10px" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0 10px;text-align:left">&#xA0;</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:left"></td>
                                                            <td class="small" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:left">Alle Beträge inkl.
                                                                Mehrwertsteuer</td>
                                                            <td align="right" class="right" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:20px;margin:0;padding:0 10px;text-align:right"></td>
                                                        </tr>
                                                    </table>
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="20px" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;line-height:20px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <hr class="ruler" style="background-color:#8a8a8a;border:none;height:1px">
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="10px" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="callout" style="Margin-bottom:16px;border-collapse:collapse;border-spacing:0;margin-bottom:16px;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th class="callout-inner secondary" style="Margin:0;background:#2DAFE6;border:none;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;padding:16px;text-align:left;width:100%">
                                                                <table class="row" style="border-collapse:collapse;border-spacing:0;color:#fefefe;display:table;padding:0;position:relative;text-align:center;vertical-align:top;width:100%">
                                                                    <tbody style="color:#fefefe;padding:0;text-align:center">
                                                                    <tr style="color:#fefefe;padding:0;text-align:center;vertical-align:top">
                                                                        <th class="small-12 large-6 columns first last" style="Margin:0 auto;color:#fefefe;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:0!important;padding-right:0!important;text-align:center;width:50%">
                                                                            <table style="border-collapse:collapse;border-spacing:0;color:#fefefe;padding:0;text-align:center;vertical-align:top;width:100%">
                                                                                <tr style="color:#fefefe;padding:0;text-align:center;vertical-align:top">
                                                                                    <th style="Margin:0;color:#fefefe;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:center">Zeitfenster für die Lieferung<br
                                                                                            style="color:#fefefe;padding:0;text-align:center"><br style="color:#fefefe;padding:0;text-align:center"><strong style="color:#fefefe;font-size:20px;font-weight:700!important;padding:0;text-align:center">{% if mail.order.gmStartTime is not null %}{{ mail.order.gmStartTime|date("d.m.Y", "Europe/Berlin") }}{% else %}{{ mail.order.concreteTimeSlot.startTime|date("d.m.Y", "Europe/Berlin") }}{% endif %}<br
                                                                                                style="color:#fefefe;padding:0;text-align:center">
                                                                                            {% if mail.order.gmStartTime is not null %}{{ mail.order.gmStartTime|date("H:i", "Europe/Berlin") }}{% else %}{{ mail.order.concreteTimeSlot.startTime|date("H:i", "Europe/Berlin") }}{% endif %} - {% if mail.order.gmEndTime is not null %}{{ mail.order.gmEndTime|date("H:i", "Europe/Berlin") }}{% else %}{{ mail.order.concreteTimeSlot.endTime|date("H:i", "Europe/Berlin") }}{% endif %}
                                                                                            Uhr</strong><br style="color:#fefefe;padding:0;text-align:center"><br style="color:#fefefe;padding:0;text-align:center">Zahlungsmethode<br style="color:#fefefe;padding:0;text-align:center"><br
                                                                                            style="color:#fefefe;padding:0;text-align:center"><strong style="color:#fefefe;font-size:20px;font-weight:700!important;padding:0;text-align:center">{{ mail.order.paymentMethodName }}</strong></th>
                                                                                </tr>
                                                                            </table>
                                                                        </th>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                            <th class="expander" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                                        </tr>
                                                    </table>
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="10px" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="callout" style="Margin-bottom:16px;border-collapse:collapse;border-spacing:0;margin-bottom:16px;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th class="callout-inner secondary" style="Margin:0;background:#2DAFE6;border:none;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;padding:16px;text-align:left;width:100%">
                                                                <table class="row" style="border-collapse:collapse;border-spacing:0;color:#fefefe;display:table;padding:0;position:relative;text-align:center;vertical-align:top;width:100%">
                                                                    <tbody style="color:#fefefe;padding:0;text-align:center">
                                                                    <tr style="color:#fefefe;padding:0;text-align:center;vertical-align:top">
                                                                        <th class="small-12 large-6 columns first last" style="Margin:0 auto;color:#fefefe;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:0!important;padding-right:0!important;text-align:center;width:50%">
                                                                            <table style="border-collapse:collapse;border-spacing:0;color:#fefefe;padding:0;text-align:center;vertical-align:top;width:100%">
                                                                                <tr style="color:#fefefe;padding:0;text-align:center;vertical-align:top">
                                                                                    <th style="Margin:0;color:#fefefe;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:center"><strong style="color:#fefefe;font-size:20px;font-weight:700!important;padding:0;text-align:center">Anmerkung:</strong><br
                                                                                            style="color:#fefefe;padding:0;text-align:center"><br style="color:#fefefe;padding:0;text-align:center">{% if mail.comments|length > 0 %} {% for comment in mail.comments %}<p style="Margin:0;Margin-bottom:10px;color:#fefefe;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center">{{ comment.message }}</p>{%
                                                                                        endfor %} {% else %} Keine Anmerkung {% endif %}</th>
                                                                                </tr>
                                                                            </table>
                                                                        </th>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                            <th class="expander" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                                        </tr>
                                                    </table>
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="5px" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:5px;font-weight:400;line-height:5px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left"><strong style="font-weight:700!important">Die
                                                            Rechnungsadresse ist:</strong></p>
                                                    <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">{% set address =
                                                            mail.order.billingAddress %} {{ address.firstName }} {{ address.lastName }}<br>{% if address.company is not empty %} {{ address.company }}<br>{% endif %} {% if address.address1 is not empty %} {{ address.address1 }}<br>{%
                                                            endif %} {% if address.address2 is not empty %} {{ address.address2 }}<br>{% endif %} {% if address.address3 is not empty %} {{ address.address3 }}<br>{% endif %} {{ address.zipCode }} {{ address.city }} {% if
                                                            address.phone is not empty %}<br>Telefon: {{ address.phone }} {% endif %}</p>
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="10px" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <hr class="ruler" style="background-color:#8a8a8a;border:none;height:1px">
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="10px" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left"><strong style="font-weight:700!important">Die
                                                            Lieferung erfolgt an folgende Adresse:</strong></p>
                                                    <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">{% set address =
                                                            mail.order.shippingAddress %} {{ address.firstName }} {{ address.lastName }}<br>{% if address.company is not empty %} {{ address.company }}<br>{% endif %} {% if address.address1 is not empty %} {{ address.address1 }}<br>{%
                                                            endif %} {% if address.address2 is not empty %} {{ address.address2 }}<br>{% endif %} {% if address.address3 is not empty %} {{ address.address3 }}<br>{% endif %} {{ address.zipCode }} {{ address.city }} {% if
                                                            address.phone is not empty %}<br>Telefon: {{ address.phone }} {% endif %}</p>
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="5px" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:5px;font-weight:400;line-height:5px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left"><strong style="font-weight:700!important">Sollten
                                                            Sie den Kunden kontaktieren wollen, können Sie den Kunden unter folgender Telefonnummer erreichen: {{ address.phone }}</strong></p>
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="10px" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <hr class="ruler" style="background-color:#8a8a8a;border:none;height:1px">
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="10px" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left">&#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>{% include '@Oms/Mail/partials/footer.html.twig' with {'mail': mail} %}<table class="spacer float-center" style="Margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:100%">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <td height="10px" style="Margin:0;color:#0a0a0a;font-family:Mada,Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left">&#xA0;</td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
</table><!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
</body>

</html>
